@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #6F2DBD;
  --secondary: #4A148C;
  --gold: #D4AF37;
  --black: #111827;
  --gray: #F5F5F5;
}


html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#FCFCFD;
  overflow-x:hidden;
}

h1,h2,h3,h4,h5{
  font-family:'Playfair Display',serif;
}

*{
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #6f2dbd;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #d4af37, #6f2dbd);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-active {
  color: #6f2dbd;
  font-weight: 600;
}

.nav-active::after {
  width: 100%;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}